<div class="background-img">
    <img class="circle-left" src="/static/images/circle-left.png" alt="Circle Left BG">
    <img class="circle-right" src="/static/images/circle-right.png" alt="Circle Right BG">
</div>