<div class="mobile-top-menu">
    <div class="top-mobile">
        <div class="top-mobile-top">
            <a href="/"><img class="logo-mobile" src="/static/images/logo.png" alt=""></a>
            <a id="profil-icon" href="">profil</a>
        </div>
        <div class="line-mobile"></div>
        <div class="top-mobile-bottom">
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/comics">Mangalar</a></li>
                <li><a href="/search">Arama</a></li>
                <!-- <li><a href="">MangaCoin</a></li> -->
            </ul>
        </div>
        <div class="line-mobile"></div>
    </div>
</div>