<div class="top">
    <div class="top-info">
        <div class="top-top">
            <!-- <span class="top-top-info">
                <a href="">Üye Ol</a>
            </span> -->
            <!-- <span class="top-top-info">
                <a href="">Giriş Yap</a>
            </span> -->
        </div>
        <div class="top-bottom">
            <a href="/"><img class="logo" src="/static/images/logo.png" alt=""></a>
            <div class="menu-left">
                <ul>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/comics">Mangalar</a></li>
                    <!-- <li><a id="menu-icon" href="">MangaCoin</a></li> -->
                </ul>
            </div>

            <div class="menu-right">
                <ul>
                    <li><a href="/search"><img id="search-icon" src="/static/images/search-2.svg" alt=""></a></li>
                    <li><a id="profil-icon" href="">Giriş Yap</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>